@model IEnumerable<Beltek66.HelloMvc.Models.Ders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ders Anasayfası</h1>

<p>
    <a class="btn btn-outline-secondary btn-sm" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DersAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DersAd)
            </td>
            <td>
                <a class="link-secondary" asp-action="Edit" asp-route-id="@item.DersId">Edit</a> |
                <a class="link-secondary" asp-action="Details" asp-route-id="@item.DersId">Details</a> |
                <a class="link-danger" asp-action="Delete" asp-route-id="@item.DersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
